@using Microsoft.AspNetCore.Http

<div class="row">
    <h1>Welcome to the Dojo Activity Center</h1>
    <div class="col-6">
        @Html.Partial("Forms/Login")
    </div>
</div>

    @Html.Partial("Forms/Register")
